@model IEnumerable<RestaurantManagerApp.Models.Orders>

@{
    ViewData["Title"] = "Orders";
}

<h2>Orders</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Order Quanitity @*@Html.DisplayNameFor(model => model.OQuant)*@
            </th>
            <th>
                Order Description @*@Html.DisplayNameFor(model => model.OInvNumNavigation)*@
            </th>
            <th>
                Is Approved?
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OQuant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OInvNumNavigation.InvDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OApproved)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ONum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ONum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ONum">Delete</a> |
            </td>
        </tr>
}
    </tbody>
</table>
