@model IEnumerable<RestaurantManagerApp.Models.Customers>

@{
    ViewData["Title"] = "Customers";
}

<h2>Customers</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Last Name @*@Html.DisplayNameFor(model => model.CLname)*@
            </th>
            <th>
                First Name @*@Html.DisplayNameFor(model => model.CFname)*@
            </th>
            <th>
                Address @*@Html.DisplayNameFor(model => model.CAddy)*@
            </th>
            <th>
                Email @*@Html.DisplayNameFor(model => model.CEmail)*@
            </th>
            <th>
                CC Number @*@Html.DisplayNameFor(model => model.CCcnum)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAddy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCcnum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CNum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CNum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CNum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
