@model IEnumerable<WebApplication1.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvQoh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvPar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InvDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvQoh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvPar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvNum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvNum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvNum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
